<h2 class="wt">Стиль отредактирован!</h2>
<script>
    $(document).ready(function () {
        setTimeout(function() {
            window.location.href = "@Url.Action("Index", "MusicStyles")";
        }, 2000);
    })
</script>