@model Music_Store.BLL.DTO.SingerDTO
@*@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<div>
    <h4 class="wt">Редактировать</h4>
    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <label asp-for="Name" class="control-label  wt"></label> <span style="margin-left:10px; color: #f52f78;" asp-validation-for="Name" class="text-danger"></span>
        <div class="user-box">
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="user-box">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
        <div>
            <a asp-action="Index">Назад к списку</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
