<h2 class="wt">Исполнитель добавлен!</h2>
<script>
    $(document).ready(function () {
        setTimeout(function() {
            window.location.href = "@Url.Action("Index", "Singers")";
        }, 2000);
    })
</script>